:root {
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif; 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eff7cf;
  background-color: #420c14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-pointer-on-hover:hover {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 4rem;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F6F2EE;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; 
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; 
}

h2 {
  font-size: 1.8em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: .5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-primary {
  background-color: #732c2c !important;
  border-color: #9e4d4d !important;
}
.btn-secondary {
  background-color: #708a5b
}
.btn-secondary:hover {
  background-color: #708a5b
}

button:hover {
  border-color: #7e8a74;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
hr {
  border-color: #420c14;
  color: #420c14;
  background-color: #420c14;
}
.Row {
  display: flex;
  align-items: center;
  height: 32px;
}

.navbar,
.navbar-default {
    background-color: #420c14 !important;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
